<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio</key>
	<string>hahaha</string>
	<key>author</key>
	<string></string>
	<key>list</key>
	<array>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>识字</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>yī</string>
			<key>string</key>
			<string>一： 一个 一群</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>èr</string>
			<key>string</key>
			<string>二： 二月 二楼</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>sān</string>
			<key>string</key>
			<string>三： 三项 三国</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>sì</string>
			<key>string</key>
			<string>四： 四十 十四</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>wǔ</string>
			<key>string</key>
			<string>五： 五官 五十</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>shàng</string>
			<key>string</key>
			<string>上： 上楼 上天</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>xià</string>
			<key>string</key>
			<string>下： 下楼 下地</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>写字</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>一： 一个 一群</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>二： 二月 二十</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>三： 三十 三国</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>上： 上天 上楼</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>课文</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>一二三四五，金木水火土。</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>pronounce</key>
			<string>hehe </string>
			<key>string</key>
			<string>天地分上下，日月照今古。</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>next_id</key>
	<integer>409</integer>
	<key>nodes</key>
	<dict>
		<key>node</key>
		<array>
			<dict>
				<key>index</key>
				<integer>0</integer>
				<key>title</key>
				<string>come on</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>7</integer>
				<key>title</key>
				<string>胜利就在眼前</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>11</integer>
				<key>title</key>
				<string>临门一脚哟</string>
			</dict>
		</array>
		<key>wav_lengths</key>
		<array>
			<integer>0</integer>
			<real>4.005</real>
			<real>8.250999999999999</real>
			<real>12.823</real>
			<real>17.384</real>
			<real>21.777</real>
			<real>26.368</real>
			<real>30.842</real>
			<real>35.147</real>
			<real>39.418</real>
			<real>43.923</real>
			<real>48.528</real>
			<real>53.765</real>
			<real>58.362</real>
			<real>62.556</real>
		</array>
	</dict>
	<key>prev_id</key>
	<integer>405</integer>
	<key>title</key>
	<string>2 金木水火土</string>
</dict>
</plist>
